/* beginning of nav */

.first_letter{
  color: #fff;
  font-family: 'Charm', cursive;
  font-weight: 600;
  font-size: 100px;
  margin-left: 59px;
}

.second_letters{
  color: #fff;
  margin-top: 34px;
  font-family: 'Coiny', cursive;
  font-weight: 300;
}

#navbar{
  background-color: #000;
}

/* THIS DID NOT WORK GET HELP */

 .animated{
  background: url('img/blackwhitestripes.jpg');
  background-clip: text;
  -webkit-background-clip: text;
  z-index: -1;
  animation: mov 90s linear infinite;
  -webkit-animation: moveBg 90s linear infinite;
}

/* Text background animation */
@keyframes mov {
  0%{
    background-position: 0% 30%;
  }
  100%{
    background-position: 100% 50%;
  }
}


.nav{
  margin-top: 85px;
}

/*end of nav  */

/* beginning carousel */
/* .wrap{
  min-height: 100vh;
}*/

.carousel{
  margin-bottom: 60px;
}

.carousel-caption{
  z-index: 10;
  padding-bottom: 60px;
}

.carousel-inner .item{
  width: 100%;
  height: 600px;
  background-size: cover;
  background-position: center;
}

.main_img1{
  background-image: url("../img/students1.jpeg");
}

 .main_img2{
  background-image: url("../img/student2.jpeg");
  background-size: cover;
  width: 100%;
}

.main_img3{
  background-image: url("../img/student3.jpeg");
}

.main_img4{
  background-image: url("../img/student4.jpeg");
}

.main_img{
  max-height: 300px;
}


/*end of carousel  */


/*beginning of footer  */
#footer{
  background-color: #000;
  /* justify-content: flex-end; */
  height: 150px;
}

.fa{
  margin-top: 60px;
  margin-left: 60px;
  padding: 10px;
}

.fa-facebook:hover{
  border-radius: 50px;
  background-color: blue;
  color: white;
}

.fa-instagram:hover{
  border-radius: 50px;
  color: #ff6699;
  background-color: #660066;
}

.fa-twitter:hover{
  border-radius: 50px;
  color:#1da1f2;
  background-color: #fff;
}

.fa-snapchat-ghost:hover{
  border-radius: 50px;
  color: #fff;
  background-color:#fdfb08;
}




/*end of footer  */
