/* beginning of nav */

.first_letter{
  color: #fff;
  font-family: 'Charm', cursive;
  font-weight: 600;
  font-size: 100px;
  margin-left: 59px;
}

.second_letters{
  color: #fff;
  margin-top: 34px;
  font-family: 'Coiny', cursive;
  font-weight: 300;
}

#navbar{
  background-color: #000;
}

/* THIS DID NOT WORK GET HELP */

/* .animated{
  background: url('img/blackwhitestripes.jpg');
  background-clip: text;
  -webkit-background-clip: text;
  animation: moveBg 90s linear infinite;
  -webkit-animation: moveBg 90s linear infinite;
}

/* Text background animation */
@keyframes moveBg {
  0%{
    background-position: 0% 30%;
  }
  100%{
    background-position: 100% 50%;
  }
} */


.nav{
  margin-top: 85px;
}

/*end of nav  */

/* beginning carousel */
.wrap{
  min-height: 100vh;
}

.carousel{
  margin-bottom: 60px;
}

.carousel-caption{
  z-index: 10;
  padding-bottom: 60px;
}

.carousel-inner .item{
  width: 100%;
  height: 600px;
  background-size: cover;
  background-position: center;
}

/* .main_img1{
  background-image: url("../img/code-img.jpg");
} */

.main_img2{
  background-image: url("../img/mandarin-img.jpg");
}

.main_img3{
  background-image: url("../img/spanish-img.jpg");
}

.main_img4{
  background-image: url("../img/asl-img.jpg");
}

.main_img{
  max-height: 300px;
}


/*end of carousel  */
